{% extends 'base.html' %} 

{% block title %} 
Results
{% endblock %} 

{% block content %} 

<h1>{{data.name}}</h1>
<img src="https://image.tmdb.org/t/p/w200{{ data.poster_path }}" alt="...">
<br></br>
<h5>{{data.overview}}</h5>
<hr></hr>
<a href="reviews/" style="text-decoration: none; color: rgb(247, 196, 101); ">Write Review</a>
<hr></hr>
<h4>Latest Episode: <h5 style="color: rgb(150, 150, 150)">{{data.last_episode_to_air.air_date}}</h5></h4>
<br></br>
<h4>Created By <ul>{% for n in data.created_by %} <li>{{n.name}}</li>{% endfor %}</ul></h4>
<h4>Genres</h4>
<ul>
    {% for g in data.genres %}
        <li>{{ g.name }}</li>
    {% endfor %}
</ul>


{% endblock %}